* {
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
  }

body{
    height: 100%;
    background-image: url("//img/zack.jpg");
}

#container{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

#calculatorContainer{
border: 0.5em solid black;
width: 25%;
height: 30%;
display: grid;
grid-template-rows: 1fr 1fr 2fr;
}

#calculatorDisplay{

}

#calculatorPad{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 0.5em;

}

